
.row{
    background-color: black;

}

.row > h1{
    color: whitesmoke;
    font-weight: bolder;
    opacity: 0.4;
    font-size: 1.5rem;
    padding-left: 10px;
}
.row_posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.row_poster{
    height: 100px;
    object-fit: contain;
    padding: 0 5px;
    transition: transform 0.5s;
    cursor: pointer;

}
.row_poster:hover{
    transform: scale(1.2);
}
.rowPoster_large{
    height: 250px!important;
}