.landingpagecontent_container{
    background-color: aquamarine;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingpagecontent_title{
    font-size: 35px;
    font-weight: 700;
}
.landingpagecontent_subtitle{
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0;
}
.landingpagecontent_description{
    font-size: 20px;
    margin-bottom: 10px;
}
.landingpagecontent_input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    margin: 20px 0;
}
.landingpagecontent_input > input{
    height: 31px;
    width: 300px;
}
.landingpagecontent_button{
    height: 37px;
    width: 130px;
    padding: 0 15px;
    background-color: green;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}